<h1>Sign In</h1>

<form action="/sessions" class="signin_user" id="signin_user" method="post">
  <label for="user_email">Email</label><br />
  <input id="user_email" name="session[email]" size="30" type="text" /><br />

  <label for="user_password">Password</label><br />
  <input id="user_password" name="session[password]" size="30" type="password" /><br />
  
  <input id="user_submit" name="commit" type="submit" value="Sign In" />
</form>
<%link_to Sign Up, 'user#new'%>
