<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <h3><%= pluralize(@user.errors.count, "error") %> 
      prohibited this user from being saved:</h3>
  <p>There were problems with the following fields:</p>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>


<form action="/users" class="new_user" id="new_user" method="post">
  <label for="user_email">Email</label><br />
  <input id="user_email" name="user[email]" size="30" type="text" /><br />

  <label for="user_password">Password</label><br />
  <input id="user_password" name="user[password]" size="30" type="password" /><br />

  <label for="user_password_confirmation">Password Confirmation</label><br />
  <input id="user_password_confirmation" name="user[password_confirmation]" 
          size="30" type="password" /><br />

  <input id="user_submit" name="commit" type="submit" value="Create my account" />
</form>
